body, html {
  margin: 0px;
  height: 100%;
  cursor: default;
  font-family: sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-app-region: drag;
  background-color: #2f3136;
  color: #ffffff;
}

h1 {
  text-align: center;
  margin: auto;
  padding-top: 1em;
  color: #ffffff;
}

#status {
  margin: 2em auto;
  padding: 1em;
  text-align: center;
  -webkit-app-region: no-drag;
}

#connection-status {
  font-weight: bold;
  color: #43b581;
}


